<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>A CHANTAR</title>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="app">
		<div id="navbar">
			<img class="logo" src="/logo.png" alt="logo a chantar">
			<h1>A CHANTAR</h1>
		</div>

		<h2>Puntos 1er Torneo 2023</h2>
		<div style="margin: auto;max-width: 600px;">
			<div id="search-bar">
				<input type="text" v-model="searchTerm" @keyup="search()" name="buscar" id="search-input" placeholder="Buscar...">
				<i v-if="!searchTerm" class="large material-icons">search</i>
				<i v-else class="large material-icons" @click="searchTerm = ''">cancel</i>
			</div>
			<div v-if="loading" id="false-table">
				<img id="loader" src="/loader.png" alt="logo a chantar">
			</div>
			<table v-else>
				<tr>
					<th>Nombre</th>
					<th colspan="3">Puntos</th>
				</tr>
				<tr v-for="student in toShow">
					<td>{{student.name}}</td>
					<td>{{student.points[0]}}</td>
					<td>{{student.points[1]}}</td>
					<td>{{student.points[2]}}</td>
				</tr>
				<tr>
			</table>
		</div>
	</div>

	<script>
		const {
			createApp
		} = Vue
		createApp({
			data() {
				return {
					co: 0,
					students: [],
					searchTerm: "",
					results: [],
					timeOut: null,
					loading: false
				}
			},
			computed: {
				toShow() {
					if (this.results && this.results.length > 0) {
						return this.results
					}
					return this.students
				}
			},
			methods: {
				search() {
					if (this.searchTerm.length == 0) this.results = []
					if (this.searchTerm.length < 3) return
					clearTimeout(this.timeOut)
					this.loading = true
					this.timeOut = setTimeout(() => {
						let terms = this.searchTerm.split(' ');

						this.results = this.students.filter(student => {
							let res = true
							let name = student.name.toUpperCase();
							terms.forEach(term => {
								term = term.toUpperCase()
								if (!name.includes(term)) {
									res = false
								}
							});
							return res
						})

						this.loading = false
					}, 2000);
				}
			},
			mounted() {
				fetch('/students.json')
					.then(response => response.json())
					.then(data => {
						this.students = data.students
					});
			}
		}).mount('#app')
	</script>
</body>

</html>